@model SkillViewModel

@{
    ViewData["Title"] = "Skill List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    int i = 0;
}


@if (Model.Skills.Count != 0)
{
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>@ViewData["Title"]</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var skill in Model.Skills)
                                {
                                    i++;
                                    <tr>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@i</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@skill.Description</span>
                                        </td>
                                        <td class="align-middle">
                                            <a asp-action="Edit" asp-route-id="@skill.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit Skill">
                                                Edit
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            <a asp-action="Delete" asp-route-id="@skill.Id" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete Skill">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger">
        <b>Becerileri bulunmamaktadır</b>
    </div>
}

<a asp-action="Insert" class="btn btn-success btn-sm">Skill Insert</a>